@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<a href="~/User/Signup"> signup</a>
<a href="~/Admin/Create"> signup</a>
<a href="~/Admin/Edit"> signup</a>


@foreach (var item in Model.Products)
{

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="@item.ProductPictures.FirstOrDefault().PictureUrl" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@item.Name</h5>
            <p class="card-text">@item.Price</p>
            <h5 class="card-footer">@item.Manufacture</h5>
            <a hidden>@item.ProductId</a>
            <a id="buy" class="btn btn-primary">buy</a>
        </div>
    </div>

    <br />
}
