@page "/"
@using DataLayer.Entities;
@using System.Net.Http.Json
@inject HttpClient httpClient

<h1>Products</h1>

 <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Category</th>
                <th>Manufacturer</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in products)
            {
                <tr>
                    <td>@product.ProductId</td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.Category.Name</td>
                    <td>@product.Manufacture.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Product> products;

    protected override async Task OnInitializedAsync()
    {
        //products.Add(new Product { Name = "Grand Thug Auto 6: Watch Me NAE NAE", CategoryId = 5, Description = "asdsadsadasdsa", ManufactureId = 8, Price = 69, ProductId = 1 });
        try
        {
            products = await httpClient.GetFromJsonAsync<List<Product>>("api/Product/1");
        }
        catch (Exception)
        {

        }
    }
}